{% extends 'base.html' %}

{% block title %}Payments & Standing Orders{% endblock title %}

{% block content %}
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Amount</th>
        <th>User</th>
        <th>Link</th>
    </tr>
    {% for payment in payments %}
    <tr>
        <td>{{ payment.id }}</td>
        <td>{{ payment.name }}</td>
        <td>{{ payment.value }}</td>
        <td>{{ payment.user.username }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
