:root{
    --color-1: #c0fdff;
    --color-2: #6500A3;
    --color-3: #ffcbf2;
}
html,
body{
    margin: 0px;
    font-family: 'Kufam', cursive;
    background-color: var(--color-2);
    color: var(--color-1);
}
a{
    color: var(--color-3);
}

#header {
    height: 60px;
}

#header .header-link{
    color: inherit;
    padding: 0px 20px;
    text-decoration: none;
    float: left;
    line-height: 60px;
    font-size: 30px;
    transition: background-color ease 0.3s;
}
#header .header-link:hover {
    background-color: var(--color-3);
    color: var(--color-2)
}
#header .header-login{
    float: right;

}